name: Push Dist to Branch
on:
  push:
    tags:
      - 'v*' # Triggers whenever you push a tag like v1.0.1
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'

      - name: Build
        run: |
          npm install
          npm run build

      - name: Deploy to Dist Branch
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: dist-release # The branch where dist files will live
          folder: dist         # The folder to upload
          clean: true          # Removes old files in the branch